.header-container{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   
}
.header-wrapper h1{
    // font-family: customfont;
    margin:0;
}
.header-wrapper h1::selection{
    color:black;
    background-color: var(--txt-color1);
}
.header-container .header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-search{
    display: flex;
    align-items: flex-end;
}


// @font-face {
//     font-family: customfont;
//     src: url('../fonts/Aller_Std_Rg.ttf') format('truetype');
// }