
.nav-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
.nav-main .link a{
    color:var(--txt-color1);
    
  text-decoration: none;
}
#navbar{
    margin:5px;
    box-sizing: border-box;
    justify-content: center;
    width: fit-content;
}
.navbar-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link+.link{
    margin-left: 10px;
}